#mySkills {
    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        justify-content: center;
        margin-top: 2em;
        animation: moveBox 2.5s 2s linear;

        .flexEl {
            margin: .5em;
            background: rgba(195, 190, 225, .8);
            width: 8em;
            height: 10em;
            text-align: center;
            border-radius: 1em;


            i {
                position: relative;
                font-size: 2em;
                width: 2em;
                height: 2em;
                margin: auto;
                margin-top: .5em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                z-index: 1;
            }

            i:after {
                content: '';
                border-radius: 50%;
                background: linear-gradient(#d35602, #ffe402);
                width: inherit;
                height: inherit;
                position: absolute;
                z-index: -1;
            }

            .starsContainer {
                display: flex;
                position: relative;
                margin: 1em auto;
                justify-content: center;
                width: 5em;

                .star {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    // opacity: 0;

                    svg {
                        position: relative;
                        z-index: 5;
                        animation: shootingStars 2s linear;
                    }

                    line {
                        stroke: #38aecf;
                        stroke-width: 2;
                    }

                    path {
                        fill: #f5dd0b;
                        stroke: #ccb90e;
                        stroke-width: 1;
                    }

                    .unFill {
                        fill: none;
                    }



                    .star2 {
                        animation-delay: .2s;

                    }

                    .star3 {
                        animation-delay: .5s;
                    }

                    .star4 {
                        animation-delay: .7s;
                    }

                    .star5 {
                        animation-delay: 1s;
                    }

                    @keyframes shootingStars {
                        0% {
                            transform: rotate(0deg);
                            transform: translateY(-100em) translate(-50em);
                        }

                    }

                    @keyframes moveBox {


                        6% {
                            transform: translate3d(6px, 6px, 0);
                        }

                        9% {
                            transform: translate3d(3px, 3px, 0);
                        }

                        17% {
                            transform: translate3d(12px, 12px, 0);
                        }

                        20% {
                            transform: translate3d(6px, 6px, 0);
                        }

                        23% {
                            transform: translate3d(20px, 20px, 0);
                        }

                        28% {
                            transform: translate3d(10px, 10px, 0);
                        }

                        33% {
                            transform: translate3d(25px, 25px, 0);
                        }

                        40% {
                            transform: translate3d(30px, 30px, 0);
                        }

                        45% {
                            transform: translate3d(-25px, -25px, 0);
                        }

                        50% {
                            transform: translate3d(20px, 20px, 0);
                        }

                        55% {
                            transform: translate3d(-18px, -18px, 0);
                        }

                        60% {
                            transform: translate3d(13px, 13px, 0);
                        }

                        70% {
                            transform: translate3d(-10px, -10px, 0);
                        }

                        80% {
                            transform: translate3d(10px, 10px, 0);
                        }

                        90% {
                            transform: translate3d(-5px, -5px, 0);
                        }


                    }
                }
            }
        }
    }
}